@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
    background-color: #fff;
    font-family: "arial", sans-serif;
    font-size: 0.9em;
    color: #202124;
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 625px;
    background-color: white;
    margin: 0 auto;
    border-radius: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    padding: 2em;
}

.current {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 100px auto 1fr;
}

.current i {
    font-size: 5em;
}

.current-snapshot {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.current-snapshot p {
    margin: 0;
}

#curr-temp {
    font-size: 4.5em;
    margin: 0;
    font-weight: 500;
}

#curr-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-details {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.current-details p {
    margin: 0;
    font-size: 0.9em;
}

.conditions {
    grid-row: 2;
    grid-column: 1 / 3;
    text-align: center;
}

.hourly-forecast {
    display: flex;
    text-align: center;
}

.hourly {
    flex: 1;
}

.hour {
    font-size: 0.8em;
}

.weekly-forecast {
    display: flex;
    text-align: center;
    gap: 8px;
}

.weekly {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
}

.weekly p {
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    gap: 0.4em;
}

.weekly i {
    font-size: 2em;
    padding: 0 0 0.2em 0;
    color: hsl(235, 30%, 44%, 50%);
}

.weekly:hover {
    background-color: hsl(255, 35%, 85%, .6);
}

.weekly:disabled {
    cursor: default;
    background-color: hsl(255, 10%, 90%, .7);
}

.text-secondary {
    color: #70757a;
}

.add-shadow {
    box-shadow: 0px 10px 24px 0px rgba(62, 66, 66, 0.09),
        rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

button {
    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    border: none;
}

.button {
    position: relative;
    user-select: none;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    transition-duration: 0.1s;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 20px #A7A9C8;
}

.button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 15px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
}

.button:active {
    top: 1px;
}

.unitToggle {
    padding: 0.5rem 0.5rem;
    margin: 0 0.5em;
    border: none;
    background-color: hsl(255, 10%, 74%, 0);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    color: #70757a;
}

.unitToggle:disabled {
    padding: 0.5rem 0.5rem;
    border: none;
    border-bottom: 2px solid hsl(234, 100%, 64%);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    color: #202124;
}

.search-container {
    flex: 2;
}

input[type=text] {
    padding: 0.5em 1.4em;
    width: 60%;
    border-radius: 15px;
    border: 2px solid #C6C3C3;
    transition: all 0.3s ease-in-out;
}

input[type=text]:hover {
    box-shadow: 0px 10px 24px 0px rgba(62, 66, 66, 0.09),
        rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

#search-btn {
    padding: 0.5rem 1.1rem;
    border-radius: 20px;
    border: none;
    background-color: hsl(234, 100%, 64%);
    color: white;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

#search-btn:hover {
    background-color: hsl(234, 100%, 54%);
    transform: translateY(-5%);
    cursor: pointer;
}

.unitToggle:hover {
    transform: translateY(-7%);
    cursor: pointer;
}

.unitToggle:disabled:hover {
    cursor: default;
    transform: none;
    background-color: hsl(234, 100%, 64%, 0);
}

.cp {
    padding: 0.7em 2.5em;
}

.chart {
    display: flex;
    justify-content: center;
    margin: 1em 0 2em 0;
}

footer {
    margin: 2em 0;
    text-align: center;
}

/* Popup box BEGIN */
.hover-bkgr {
    background: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.hover-bkgr .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover-bkgr>div {
    background-color: #fff;
    box-shadow: 10px 10px 60px hsl(0, 0%, 53%);
    display: inline-block;
    height: auto;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
    transition: all 0.4s ease-in-out;
}

#popupCloseButton {
    background-color: #fff;
    box-shadow: 10px 10px 60px hsl(0, 0%, 53%);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 32px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#popupCloseButton:hover {
    background-color: #ccc;
}

#trigger-popup {
    cursor: pointer;
    display: inline-block;
    transition: all 0.4s ease-in-out;
}

#trigger-popup:hover {
    text-decoration: underline;
}

/* Popup box BEGIN */

@media only screen and (min-width: 768px) {
    .container {
        margin-top: 2em;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 430px) {
    .weekly-forecast {
        overflow: scroll;
    }
}

@media (max-width: 567px) {
    body {
        background-color: #fff;
        font-family: "arial", sans-serif;
        font-size: 0.9em;
        color: #202124;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0;
    }

    .unitToggle {
        margin: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #d3d3d3;
        padding: 1em;
    }

    .container {
        border-radius: 0;
        padding: 0 0 2em 0;
    }

    .cp {
        padding: 0;
    }

    .current {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .current-details {
        grid-column: 1 / 3;
        grid-row: 3;
        justify-content: center;
        align-items: center;
    }

    .curr-image-container {
        grid-column: 1;
    }

    .current i {
        font-size: 4em;
    }

    .current-snapshot {
        grid-row: 2;
    }

    #curr-temp {
        font-size: 6em;
    }

    #location span {
        display: none;
    }

    #location {
        text-align: center;
    }

    #humidity {
        display: none;
    }

    #wind {
        display: none;
    }

    .chart {
        padding: 0 2em;
    }

    .weekly-forecast {
        margin: 1em 1em 1em 2em;
    }
}